venv/
__pycache__/
.env
.idea/
.vscode/
*.pyc
.DS_Storeapp/memory/incident_history/incidents/
app/memory/vectorstore/chroma_db/
app/memory/incident_history/incidents/
chroma.sqlite3
.DS_Store
backup_readme/
